


@font-face {
    font-family: 'Limelight';
    font-style: normal;
    font-weight: 400;
    src: url('../font/limelight-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Limelight'),
         url('../font/limelight-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/limelight-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/limelight-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../font/limelight-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/limelight-v10-latin-regular.svg#Limelight') format('svg'); /* Legacy iOS */
  }


div{
    text-align: center;
    margin-bottom: 10%;

 
  font-size:80px;
    margin-top: 10%;
    
}





body{

    background-image: url(../img/805.jpg)  ; 

height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;

    
}


h1{
    font-family: 'Limelight';
    font-size: 150px;
    

   
}
.copyright{
    font-family: sans-serif;
    text-align: right;
    color: white;
    padding: 5%;
}

footer{
    
    background-color:#414042;
    position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;

    }

    img{
height: 100px;
width: 100px;

    }

    img:hover {
        opacity: 70%;
      }