header {
    height: 0px;
    width: 100%;
}

body {
    height: 853px;
    width: 60%;
    background-image: url(../imagenes/805.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
}

footer {
    height: 30px;
    width: 100%;
    background-color: #414042;
    position: fixed;
    left: 0px;
    bottom: 0px;

}



@font-face {
    font-family: 'playfair';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    /* IE9 Compat Modes */
    src: local('Limelight'),
        url('../fonts/PlayfairDisplay-Regular.ttf') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/PlayfairDisplay-Regular.svg') format('svg');
    /* Legacy iOS */
}


.principal {
    text-align: center;
    margin-bottom: 10%;
    font-size: 80px;
    margin-top: 10%;
}


.inicio {
    display: flex;
    justify-content: flex-start;
}







h1 {
    font-family: 'playfair';
    font-size: 150px;



}




.bandera {
    height: 275px;
    width: 275px;
    margin: 2%;

}

img:hover {
    opacity: 70%;
}