
header{
    height: 0px;
    width: 1280px;
}

body{
     height: 853px;
     width: 1280px;
}

footer{
    height: 30px;
    width: 1280px;
}



@font-face {
    font-family: 'playfair';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PlayfairDisplay-Regular.eot'); /* IE9 Compat Modes */
    src: local('Limelight'),
         url('../fonts/PlayfairDisplay-Regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/PlayfairDisplay-Regular.svg') format('svg'); /* Legacy iOS */
  }


div{
    text-align: center;
    margin-bottom: 10%;

 
  font-size:80px;
    margin-top: 10%;
    
}





body{

    background-image: url(../imagenes/805.jpg)  ; 

height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;

    
}


h1{
    font-family: 'playfair';
    font-size: 150px;
    

   
}
.copyright{
    font-family: sans-serif;
    text-align: right;
    color: white;
    padding: 5%;
    top: 0%;
}

footer{
    
    background-color:#414042;
    position:fixed;
   left:0px;
   bottom:0px;
 
   width:100%;

    }

    img{
height: 100px;
width: 100px;

    }

    img:hover {
        opacity: 70%;
      }