*{
    @media (min-width: 1280px) { height: auto;
    min-width:auto;
    }
}
@font-face {
    font-family: 'playfair';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Libre_Baskerville/Libre_Baskerville/LibreBaskerville-Regular.ttf');
  }
body{
    border-top: 3px solid #28c71d;
    height: 100%;
    background-image: url(../imagenes/805.jpg);
}
/*Boton Inicio*/
.inicio{
    display: flex;
    justify-content: flex-end;
}
.volver_inicio{
    height: 40px;
    width: auto;
}
.casa_inicio{
    width: 40px;
}
/*Imagenes elegir donde ir*/
.eleccion{
    background-image: url(../imagenes/805.jpg);
    display: flex;
    height: 535px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.explicacion_menu{
    transition: all 2s;
    display: inline-flex;
}
.explicacion_menu img{
    height: 100px;
    width: 200px;
    border-color: black;
    border-style: hidden;
}
/*Pruebas Transition*/

.mapa_menu{
    transition: all 2s;
    display: inline-flex;
    padding-left: 20%;    

}
.mapa_menu img{
    height: 100px;
    width: 200px;
    border-color: black;
    border-style: hidden;
}

.juegos_menu{
    display: inline-flex;
    transition: all 2s;
}
.juegos_menu img{
    height: 100px;
    width: 200px;
    border-color: black;
    border-style: hidden;
}

.ranking_menu{
    transition: all 2s;
    display: inline-flex;
    padding-left: 20%;
}
.ranking_menu img{
    height: 100px;
    width: 200px;
    border-color: black;
    border-style: hidden;
}

/*Flexbox colocación elecciones*/
.tower_group_1{
    display: flex;
    /*align-items: flex-start;*/
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
} 
.tower_group_2{
    display: flex;
    /*align-items: flex-end;*/
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
/*prueba*/
.extra{
    height: auto;
}
/*Footer Pagina*/
.footer{
    min-height: 57px;
    background-color: #414042;
    color: #ffffff;
    text-align: center;
}
